 <% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました
  <% @item.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>商品編集</h1>
      <%= form_with model:@items, local:true do |f| %>
        <div class="form-group">
          <label for="item_image">商品画像</label>
          <%= attachment_image_tag @item, :image, fallback: "no_image.jpg" %>
          <%= f.attachment_field :image, placeholder: "画像" %>
        </div>
        <div class="form-group">
          <label for="item_name">商品名</label>
          <%= f.text_field :name %>
        </div>
        <div class="form-group">
          <label for="item_">商品説明</label>
          <%= f.text_area :introduction %>
        </div>
        <div class="form-group">
          <label for="item_">ジャンル</label>
          <%= f.text_field :genre %>
        </div>
        <div class="form-group">
          <label for="item_">税抜価格</label>
          <%= f.text_field :price %>
        </div>
        <div class="form-group">
          <label for="item_">販売ステータス</label>
          <%= f.text_area :is_active %>
        </div>
      <div class="form-group">
        <button type="submit"　class="btn btn-success">新規登録</button>
      </div>
      <% end %>
    </div>
  </div>
</div>