<div class="containar">
  <div class="row">
    <div class="col-sm-10 col-md-8 mx-auto">
      <h2 class="mb-3"><%= @customer.full_name %>さんの会員情報編集</h2>
      <%= form_with model: [:admin, @customer], local:true do |f| %>
      <div class="form-group row">
        <label for="custmer-id" class="col-sm-3 col-form-label">会員ID</label>
        <div clsdd="col-9">
          <%= @customer.id %>
        </div>
      </div>
      <div class="form-group row">
        <label for="customer-name" class="col-sm-3 col-form-label">氏名</label>
        <div clsdd="col-9">
          <%= f.text_field :last_name %>
          <%= f.text_field :first_name %>
        </div>
      </div>
      <div class="form-group row">
        <label for="customer-kana" class="col-sm-3 col-form-label">フリガナ</label>
        <div clsdd="col-9">
          <%= f.text_field :last_name_kana %>
          <%= f.text_field :first_name_kana %>
        </div>
      </div>
      <div class="form-group row">
        <label for="csutomer-postal_code" class="col-sm-3 col-form-label">郵便番号</label>
        <div clsdd="col-9">
          <%= f.text_field :postal_code %>
        </div>
      </div>
      <div class="form-group row">
        <label for="customer-address" class="col-sm-3 col-form-label">住所</label>
        <div clsdd="col-9">
          <%= f.text_field :address %>
        </div>
      </div>
      <div class="form-group row">
        <label for="customer-telephone_number" class="col-sm-3 col-form-label">電話番号</label>
        <div clsdd="col-9">
          <%= f.text_field :telephone_number %>
        </div>
      </div>
      <div class="form-group row">
        <label for="customer-email" class="col-sm-3 col-form-label">メールアドレス</label>
        <div clsdd="col-9">
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="form-group row">
        <label for="customer-status" class="col-sm-3 col-form-label">会員ステータス</label>
        <div clsdd="col-9">
          <%= f.radio_button :is_active, true, checked: "checked" %>
          <%= f.label :is_active, "有効" %>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active, "退会" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "変更を保存", class: "btn btn-success" %>
        <%= link_to '注文履歴一覧を見る', admin_items_path, class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>