<main>

  <p class="notice">
      <% if flash[:notice] %>
      <%= notice %>
      <% end %>
  </p>


<div class="container">
  <div class="row">
  <%= render "devise/shared/sidebar", user: @user, books: @books %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>opinion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% @book.each do |book| %>
              <td><%= link_to attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"), user_path(@user)%></td>
              <td><%=link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
    </div>
  </div>
</div>
</main>

