<div class="container">
  <div class="row">
    <h2 class="pt-3 pb-3">発送先登録/一覧</h2>
    <div class="col-12">
    <%= form_with model: [:public, @address], local:true do |f| %>
      <div class="form-group row">
        <label for="postal_code" class="col-sm-4 col-form-label">郵便番号(ハイフンなし)</label>
        <div class="col-sm-7">
          <%= f.text_field :postal_code, placeholder: "0000000" %>
        </div>
      </div>
      <div class="form-group  row">
        <label for="address" class="col-sm-4 col-form-label">住所</label>
        <div class="col-sm-8">
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町０−０", :size => "40"  %>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">宛名</label>
        <div class="col-sm-4">
          <%= f.text_field :name, placeholder: "令和道子" %>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-success pl-5 pr-5">新規登録</button>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-7 pl-1">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td><%= link_to '編集する', edit_public_address_path(address.id), class: 'btn btn-success' %>
                <%= link_to '削除する', public_address_path(address.id), method: :delete, data: { confirm: '削除しますか?'}, class: 'btn btn-danger' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>