<div class="container">
  <div class="row">
    <div class="col-8">
      <p>注文情報</p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td>〒<%= @order.customer.postal_code %><br>
                <%= @order.customer.address %><br>
                <%= @order.customer.full_name %>
            </td>
          </tr>
          <tr>
            <th>支払い方法</th>
            <td><%= @order.pay_type %></td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <p>請求情報</p>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>商品合計</th>
              <td><%= @order.total_payment %></td>
            </tr>
            <tr>
              <th>配送料</th>
              <td><%= 800 %></td>
            </tr>
            <tr>
              <th>ご請求金額</th>
              <td><%= @order.total_payment + 800 %></td>
            </tr>
          </tbody>
        </table>
      </table>
    </div>
    <div class="row">
      <div class="col-12 pr-4">
        <p>注文内容</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>商品</th>
              <th>単価(税込)</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% @order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.item.name %></td>
              <td><%= order_item.item.price %></td>
              <td><%= order_item.amount %></td>
              <td><%= ((order_item.item.price * 1.1).floor * (order_item.amount)).to_s %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>