<div class="container">
  <div class="row">
    <div class="col-8 offset-2 pt-5">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th><%= attachment_image_tag @item, :image, :fill, 250, 200 %></th>
            <th>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th><%= @item.name %></th>
                  </tr>
                  <tr>
                    <td><%= @item.introduction %></td>
                  </tr>
                  <tr>
                    <td><%= @item.price %>円</td>
                  </tr>
                  <tr>
                  <%= form_with model: [:public, @cart_item], local:true do |f| %>
                    <% if customer_signed_in? %>
                      <%= f.hidden_field :customer_id, :value => current_customer.id %>
                    <% end %>
                    <%= f.hidden_field :item_id, :value => @item.id %>
                    <td><%= f.select :amount, *[1..10], :prompt => "選択してください" %></td>
                    <td><%= f.submit "カートに入れる", class: "btn btn-success" %></td>
                  <% end %>
                  </tr>
                </tbody>
              </table>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>