<div class="container">
  <div class="row">
    <div class="col-8 offset-2 pt-5">
      <table class="table">
        <tbody>
          <tr>
            <th><%= attachment_image_tag @item, :image, :fill, 250, 200 %></th>
            <th>
              <table class="table">
                <tbody>
                  <tr>
                    <th><%= @item.name %></th>
                  </tr>
                  <tr>
                    <td><%= @item.introduction %></td>
                  </tr>
                  <tr>
                    <td><%= @item.price %></td>
                  </tr>
                  <tr>
                    <%= form_with model: @cart_item, local:true do |f| %>
                    <td><%= f.select :amount, *[1..10] %></td>
                    <td><button type="submit" class="btn btn-success">カートに入れる</button></td>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>